@using WebApplication_01.Utility
@model List<Kitap>

@if (TempData["basarili"] != null)
{
	<h2>@TempData["Basarili"]</h2>
}

<div class="container">
	<div class="row pt-3 pb-4">
		<div>
			<h1>Kitaplar</h1>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					
				</th>
				<th>
					Kitap
				</th>
				<th>
					Tanım
				</th>
				<th>
					Yazar

				</th>
				<th>
					Fiyat
				</th>
				<th>
					KitapTürü
				</th>
				@if (User.IsInRole(UserRoles.Role_Admin))
					{
				<th>
				</th>
				<th>
				</th>
					}
			</tr>
		</thead>
		<tbody>
			@foreach(var Kitap in Model)
			{
				<tr>
					<td align="center" valign="middle">
						<img src="@Kitap.ResimUrl" style="border-radius:7px; border:1px solid #bbb9b9; max-width: 100px; max-height: 145px;" />
					</td>
					<td align="center" valign="middle">@Kitap.KitapAdi</td>
					<td align="center" valign="middle">@Kitap.Tanim</td>
					<td align="center" valign="middle" >@Kitap.Yazar</td>
					<td align="center" valign="middle">@Kitap.Fiyat</td>
					<td align="center" valign="middle">@Kitap.KitapTuru.Ad</td>
					@if (User.IsInRole(UserRoles.Role_Admin))
					{
						<td>
							<a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@Kitap.Id" type="button" class="btn btn-success" style="width:250px">
								Güncelle
							</a>
						</td>
						<td>
							<a asp-controller="Kitap" asp-action="Sil" asp-route-id="@Kitap.Id" type="button" class="btn btn-danger" style="width:250px">
								Sil
							</a>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
	@if (User.IsInRole(UserRoles.Role_Admin))
	{
		<div class="row pt-3 pb-2">
			<div>
			<a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
				Yeni Kitap Ekle
			</a>
		</div>
		</div>
	}
</div>